/* .page{
    margin-left: 75%;
} */
 /* .header{
    background-color: #000000;
    color: white;
    /* text-decoration: underline;
} */
/* .Container{
   background-color: #202020;
} */ 
/* .header{
	background-color:black;
	color: white;
	padding: 15px;
	font-family: 'Lato', sans-serif;
}
.logo{
	margin-left: 90px;
	margin-bottom: -20px;
}
.logo img{
	width: 2%;
	margin-bottom: -8px;
	border: 3px solid white;
	border-radius: 50px;
}
.pages a {
	color: white;
}
.pages{
	
	margin-left: 70%;
	font-size: 14px;
} */